@import url('https://fonts.googleapis.com/css2?family=Georama:wght@500&display=swap');

.nav{
    width: 400px;
    height: auto;
    background-color: #ac3f21;
    color: #f3cf7a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
}

a{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-family: 'Georama', sans-serif;
    font-size: 18px;
    cursor: pointer;   
}
